SENSOR/senseHAT_temp_humid_press/thp.txt
SENSOR/email_config.py
*.jpg
SENSOR/__pycache__*
*.h264
Libraries/
RasPi_ThingSpeak/config.py
RasPi_ThingSpeak/config.pyc
RasPi_ThingSpeak/sensor_readings.txt
RasPi_Firebase/airquality-b42e1-firebase-adminsdk-6s5om-c7370e92de.json
RasPi_Firebase/config.py
RasPi_Firebase/config.pyc
RasPi_Firebase/sensor_readings.txt